*{
    margin: 0px;
}
body{
    width: 100%;
}
.width-100{
    width: 100%;
}
.boundary{
    padding: 25px;
}
.display-flex{
    display: flex ;
    flex-flow: row wrap;
}
.flex-item{
    box-sizing: border-box;
 }
.text-center{
    justify-content: center; /* Centers content horizontally */
    align-items: center; 
    text-align: center;
 }
 margin-auto{
    margin: auto;
 }
/* navigation  */
 .nav > ul > li{
    text-decoration: none;
    list-style-type: none;
    padding:45px 10px 45px 0px;
} 
.nav > ul > li > a {
    text-decoration: none;
    color: #000;
}
.poster{
    padding: 100px;
    margin: auto;
    color:#fff ;
    background-image: url("../images/backimg.jpg");
    background-size: cover;
    background-position: center;

}
.poster> h2, .about>h2{
    font-size: 24px;
}
.poster> h1, .about>h1{
    font-size: 48px;
}
.poster-btn{
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #198754;
    margin: 10px 10px 0px 0px;
    color:#fff ;

}
.services{
    margin: 0px 0px;
}
.services img{
    height: 100px;
    width: 150px;
}
.services > .row{
margin-top: 50px;
}
.services .box {
    width: 30%;
    flex-grow: 1;
    border: 2px solid #f2f2f2;
    border-radius: 15px;
    padding: 30px 5px;
    font-size: 15px;
    margin: 10px;
    box-shadow:0px 0px 10px 0px #fff;
    
}

footer .box{
    width: 25%;
    flex-grow: 1;
    padding: 30px 5px;
}
form {
  margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    width: 25%;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 70%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .gender-group {
    display: flex;
    justify-content:flex-start
  }
  
.gender-group label {
    margin-right: 25px;
  }
  button:hover {
    background-color: #45a049;
  }
  footer ul > li{
    text-decoration: none;
    list-style-type: none;
    margin-top:5px ;
}
footer h4{
    text-align: center;
}
.footer{
    background-color: #f2f2f2;
}
.last-footer{
    padding: 20px;
    background-color: #F8F9FA;
}